{% extends 'profile.html' %}
{% block suadiachi %}
<div class="right" >
    <div class="containerpr">
        <table id="customers">
          <tr>
            <th>Sách</th>
            <th>Số lượng</th>
              <th>Đơn Giá</th>
            <th>Thành Tiền</th>
           </tr>
           {% for ct in ctdh %}
          <tr>
              {%for s in sach%}
                {% if ct.sach_id == s.id %}
                <td>{{s.name}}</td>
                {%endif%}
              {% endfor %}
            <td>{{ct.soluong}}</td>
              <td>{{ "{:,.1f}".format(ct.dongia) }}</td>
              <td>{{ "{:,.1f}".format(ct.soluong*ct.dongia) }} </td>
          </tr>
            {% endfor %}
        </table>
        <br>
        <h4>Tổng: {{ "{:,.1f}".format(tong) }} Đ</h4>
        <h4>Địa chỉ: {{dcnh}}</h4>
    </div>
</div>
{% endblock suadiachi%}