{% extends 'admin/master.html' %}
{% block head %}
    {{ super() }}

<style>
  h1 {color:	#000}
</style>
{% endblock %}


{% block body %}
{% if err_msg %}
    <div class="alert alert-danger">{{ err_msg }}</div>
{% endif %}
<div class="container-fluid">
          <div class="container ">
        <div class="card-body text-center">
            <h1 class="card-title">
                 NHÂN VIÊN YU BOOK
                   <i class="fa fa-users"></i>
            </h1>
            <div class="card-description">
        </div>
        <div>
                <div class="input-group">
                <input type="text" class="form-control" placeholder="Nhập từ khóa cần tìm"  id="myInput">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
        <br>
        <table class="table table-hover table table-striped " id="myTable">
            <tr class="thead-dark" >
                <th>Mã</th>
                <th>Họ Và Tên</th>
                <th>Giới Tính</th>
                <th>Ngày Sinh</th>
                <th>Số điện thoại</th>
                <th>Địa Chỉ</th>
                <th>CMND</th>
            </tr>
            {% for u in user %}
            <tr>
                {%for k in nv%}
                {%if k.user_id == u.id%}
                <td>
                    {{ k.id }}
                </td>
                {%endif%}
                {%endfor%}
                <td>{{ u.name }}</td>
                <td>
                     {{ u.gioitinh}}
                </td>
                <td>{{ u.ngaysinh }}</td>
                <td>{{ u.sdt }}</td>
                {%for k in  dc%}
                {%if u.diaChi_id == k.id%}
                <td>
                    {{ k.sonha }}, {{ k.phuongxa}}, {{k.quanhuyen}}, {{tinhtp}}
                </td>
                 {%for k in nv%}
                {%if k.user_id == u.id%}
                <td>
                    {{ k.cmnd }}
                </td>
                {%endif%}
                {%endfor%}
                {%endif%}
                {%endfor%}
            </tr>
            {% endfor %}
        </table>
</div>
</div>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
{% endblock %}
